Fonte: https://youtu.be/w3k2yuPEU_w

provider "aws" {
    region = "us-east-1"
}

# Criando uma key pair na aws com uma chave publica criada localmente
resource "aws_key_pair" "k8s-key" {
    key_name   = "k8s-key"
    public_key = "ssh-rsa blablabla"
}

# Criando um Security Group chamado k8s-sg
resource "aws_security_group" "k8s-sg" {
    # Exemplo de Regra de Entrada
    ingress {
        from_port   = 0
        to port     = 0
        protocol    = "-1"
        self        = true
    }

    # Exemplo de Regra de Entrada para a porta 22
    # Permite conexão de geral a porta 22 (N faça isso em produção.)
    ingress {
        from_port   = 22
        to port     = 22
        protocol    = "tcp"
        cidr_blocks = ["0.0.0.0/0"]
    }
    
    # Exemplo de Regra de Sáida
    egress {
        cidr_blocks = ["0.0.0.0/0"]
        from_port   = 0
        to_port     = 0
        protocol    = "-1"
    }
}
resource "aws_instance" "kubernetes-master" {
    ami             = "ami-085925f297f89fcel"
    instance_type   = "t3.medium"           # Veja os requisitos minimo para rodar uma node de kubernets na aws
    key_name        = "k8s-key"
    count           = 2 
    tags {
        name = "k8s"
        type = "master"
    }
    security_group = ["${aws_security_group.k8s-sg.name}"]
}

resource "aws_instance" "kubernetes-worker" {
    ami             = "ami-085925f297f89fcel"
    instance_type   = "t3.medium"           # Veja os requisitos minimo para rodar uma node de kubernets na aws
    key_name        = "k8s-key"
    count           = 2 
    tags {
        name = "k8s"
        type = "worker"
    }
    security_group = ["${aws_security_group.k8s-sg.name}"]
}